/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* end of meyer */

/* start of fonts */

/* Playfair Display */

@font-face {
    font-family: 'playfair';
    src: url('../fonts/playfair-regular/PlayfairDisplay-Regular.eot');
    src: url('../fonts/playfair-regular/PlayfairDisplay-Regular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/playfair-regular/PlayfairDisplay-Regular.woff2') format('woff2'),
        url('../fonts/playfair-regular/PlayfairDisplay-Regular.woff') format('woff'),
        url('../fonts/playfair-regular/PlayfairDisplay-Regular.ttf') format('truetype'),
        url('../fonts/playfair-regular/PlayfairDisplay-Regular.svg#PlayfairDisplay-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
}


@font-face {
    font-family: 'playfair';
    src: url('../fonts/playfair-italic/PlayfairDisplay-Italic.eot');
    src: url('../fonts/playfair-italic/PlayfairDisplay-Italic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/playfair-italic/PlayfairDisplay-Italic.woff2') format('woff2'),
        url('../fonts/playfair-italic/PlayfairDisplay-Italic.woff') format('woff'),
        url('../fonts/playfair-italic/PlayfairDisplay-Italic.ttf') format('truetype'),
        url('../fonts/playfair-italic/PlayfairDisplay-Italic.svg#PlayfairDisplay-Italic') format('svg');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'playfair';
    src: url('../fonts/playfair-bold-italic/PlayfairDisplay-BoldItalic.eot');
    src: url('../fonts/playfair-bold-italic/PlayfairDisplay-BoldItalic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/playfair-bold-italic/PlayfairDisplay-BoldItalic.woff2') format('woff2'),
        url('../fonts/playfair-bold-italic/PlayfairDisplay-BoldItalic.woff') format('woff'),
        url('../fonts/playfair-bold-italic/PlayfairDisplay-BoldItalic.ttf') format('truetype'),
        url('../fonts/playfair-bold-italic/PlayfairDisplay-BoldItalic.svg#PlayfairDisplay-BoldItalic') format('svg');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'playfair';
    src: url('../fonts/playfair-bold/PlayfairDisplay-Bold.eot');
    src: url('../fonts/playfair-bold/PlayfairDisplay-Bold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/playfair-bold/PlayfairDisplay-Bold.woff2') format('woff2'),
        url('../fonts/playfair-bold/PlayfairDisplay-Bold.woff') format('woff'),
        url('../fonts/playfair-bold/PlayfairDisplay-Bold.ttf') format('truetype'),
        url('../fonts/playfair-bold/PlayfairDisplay-Bold.svg#PlayfairDisplay-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
}

/* Raleway */

@font-face {
    font-family: 'raleway';
    src: url('../fonts/raleway-medium/Raleway-Medium.eot?#iefix') format('embedded-opentype'),
        url('../fonts/raleway-medium/Raleway-Medium.woff2') format('woff2'),
        url('../fonts/raleway-medium/Raleway-Medium.woff') format('woff'),
        url('../fonts/raleway-medium/Raleway-Medium.ttf') format('truetype'),
        url('../fonts/raleway-medium/Raleway-Medium.svg#Raleway-Medium') format('svg');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'raleway';
    src: url('../fonts/raleway-medium-italic/Raleway-MediumItalic.eot');
    src: url('../fonts/raleway-medium-italic/Raleway-MediumItalic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/raleway-medium-italic/Raleway-MediumItalic.woff2') format('woff2'),
        url('../fonts/raleway-medium-italic/Raleway-MediumItalic.woff') format('woff'),
        url('../fonts/raleway-medium-italic/Raleway-MediumItalic.ttf') format('truetype'),
        url('../fonts/raleway-medium-italic/Raleway-MediumItalic.svg#Raleway-MediumItalic') format('svg');
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: 'raleway';
    src: url('../fonts/raleway-lite-regular/Raleway-Light.eot');
    src: url('../fonts/raleway-lite-regular/Raleway-Light.eot?#iefix') format('embedded-opentype'),
        url('../fonts/raleway-lite-regular/Raleway-Light.woff2') format('woff2'),
        url('../fonts/raleway-lite-regular/Raleway-Light.woff') format('woff'),
        url('../fonts/raleway-lite-regular/Raleway-Light.ttf') format('truetype'),
        url('../fonts/raleway-lite-regular/Raleway-Light.svg#Raleway-Light') format('svg');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'raleway';
    src: url('../fonts/raleway-lite-italic/Raleway-LightItalic.eot');
    src: url('../fonts/raleway-lite-italic/Raleway-LightItalic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/raleway-lite-italic/Raleway-LightItalic.woff2') format('woff2'),
        url('../fonts/raleway-lite-italic/Raleway-LightItalic.woff') format('woff'),
        url('../fonts/raleway-lite-italic/Raleway-LightItalic.ttf') format('truetype'),
        url('../fonts/raleway-lite-italic/Raleway-LightItalic.svg#Raleway-LightItalic') format('svg');
    font-weight: 300;
    font-style: italic;
}

/* end of font declaration */

/* LIST OF FONTS
railway
playfair
 */

/* start of general css */
* {
	box-sizing: border-box;
}

html {
	
	font-size: 14px;
}

body {
	margin: 0 auto;
	color: #2d2d2d;
	font-family: "raleway";
}

h1, h2 {
	font-family: "playfair";
}

a {
	text-decoration: none;
}

a:visited {
	text-decoration: none;
	color: #e2574c;
}

i {
	font-style: italic;
}
b {
	font-weight: bold;
}

/* start of Top Nav bar */

.topNav {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-evenly;
    width: 100%;
    height: auto;
    padding-bottom: 10px;
}

#navTopSection {
    height: 80%;
    display: flex;
    justify-content: flex-start;
    width: 100%;
    position: relative;
}

.alohaLogo {
	width: 37%;
    margin: 3% 0% 0px 3%;
}

.logo {
	max-width: 100%;
	max-height: 100%;
}

#navline {
    width: 95%;
    padding: 1px;
    background-color: #d7d7d7;
    margin-top: 1%;
}

.headerNavs {
    width: 92%;
    margin: 3% auto;
    text-align: center;
} 

.headerNavs li {
	display: inline-block;
    margin: 1% 3% 0px 1%;
    color: #e2574c;
    font-size: 1.2em;
}

.shoppingCart {
	margin: 2% 3% 1% 41%;
    width: 16%;
}

.cartIcon {
	max-width: 100%;
	max-height: 100%;
}

/* start of main site content */

main {
	display: flex;
	align-items: center;
	flex-direction: column;
	justify-content: space-evenly;
	margin: 0;
	border: 0;
	padding: 0;
	width: 100%;
	height: auto;
}

header {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 625px;
    background-image: url(../images/flower-bkgd.jpg);
    background-position-x: 45%;
    text-align: center;
    background-size: cover;
    overflow: hidden;
}

.headerOverlay {
	position: absolute;
width: 100%;
height: 100%;
background: black;
top: 0;
opacity: .2;
z-index: 2;
}

header h1 {
    position: relative;
    top: 40%;
    margin: 0 auto;
    font-size: 4.2rem;
    z-index: 3;
    color: white;
    text-shadow: 1px 1px 4px black;
}

.headerSplit {
    display: block;
    font-size: .5em;
    margin-bottom: 9%;
}


.bannerGirl {
	position: absolute;
    width: 16.5rem;
    bottom: -9%;
    text-align: center;
    margin: 0 auto;
	max-height: 100%;
	left: 50%;
	transform: translate(-50%, 0px);
}
.girl  {
	max-width: 100%;
	max-height: 100%;
}

/* introduction paragraph */

.intro {
    font-size: 1.6rem;
    width: 100%;
    text-align: center;
    margin: 10% 0px; 
}

.intro h2 {
	margin-bottom: 20px;
	font-size: 1.9em;
}

.intro i {
	font-style: italic;
}

.intro b {
	font-weight: bold;
}

.intro p {
    font-size: 0.8em;
    font-weight: 300;
    width: 80%;
    position: relative;
    margin: 0 auto;
}

.intro article {
	line-height: 1.8;
	font-family: "raleway";
}

/* shopping links section */

.shopLinks {
	width: 100%;
	height: auto;

}

.shopLinks1 span, .shopLinks2 span {
	position: absolute;
	color: white;
	font-size: 37px;
	text-shadow: 1px 1px 4px black;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.shopLinks1 div, .shopLinks2 div {
	position: relative;
}

.shopLinks1 {
	display: flex;
	align-items: flex-start;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;
	width: 100%;
	height: 50%;
	margin: 0px 0px 5px 0px;
}

.trends, .glasses, .sale, .bags {
	min-width: 47%;
	max-width: 49%;
}

.mens {
height: 100%;
min-width: 100%;
flex: 2 1 7px;
margin-bottom: 10px;
}

.mensL {
width: 100%;
height: 100%;
}

.trends {
	height: 100%;
	flex: 1 1 0px;
}	

.trendsL {
	width: 100%;
	height: 100%;
}

.glasses  {
	height: 100%;
	flex: 1 1 0px;
}

.glassesL {
	width: 100%;
	height: 100%;
}

.shopLinks2 {
	display: flex;
	align-items: flex-start;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: stretch;
	width: 100%;
	height: 50%;
	margin: 0px 0px 10px 0px;
}

.sale {
	height: 100%;
	flex: 1 1 0px;

}

.saleL {
	width: 100%;
	height: 100%;
}

.bags {
	height: 100%;
	flex: 1 1 0px;
}

.bagsL {
	width: 100%;
	height: 100%;
}

.womens {
	height: 100%;
	min-width: 100%;
	flex: 2 1 7px;
	margin-top: 10px;
}

.womensL {
	width: 100%;
	height: 100%;
}

/* Product Highlights Section */

.productHighlight {
	width: 100%;
	height: 1000px;
	text-align: center;
	font-size: 50px;
}

.productHighlight h2 {
	position: relative;
	top: 60px;
	margin-bottom: 30px;
}

.carousel-cell {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	position: relative;
	height: 800px;
}

.highlightimg {
	width: 450px;
}

.carousel {
	height: 80%;
	top: 7%;
}

.phCategory {
font-size: .5em;
margin-bottom: 40px;
}

.phName {
	color: #e2574c;
	font-family: "playfair";
	margin-bottom: 40px;
}

.phPrice {
font-size: .7em;
margin-bottom: 40px;
}

.categNamePrice {
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	align-items: center;
}

.phNavDots {
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	align-items: center;
	position: relative;
	width: 50%;
	top: 55%;
	left: 25%;
}
.phNavDots button {
	position: relative;
	width: 15px;
	height: 15px;
	border-radius: 50%;
	background-color: rgb(65, 65, 65);
}

	/* Sign-up */


.signUp {
    width: 100%;
    height: 420px;
    background-image: url(../images/wave-bkgd.jpg);
    background-position-y: 97%;
    background-position-x: 49%;
    background-repeat: no-repeat;
    text-align: center;
    background-size: 326%;
    margin-bottom: 7px;
}

.signUpContainer {
    display: inline-block;
    position: relative;
    font-size: 2.25rem;
    width: 100%;
    height: auto;
    text-align: center;
    top: 57px;
    color: white;
	text-shadow: 1px 1px 4px black;
	overflow: scroll;
}

.signUp i {
	font-style: italic;
}

.signUp b {
	font-weight: bold;
}

.signUp p {
    font-size: 1.6rem;
    position: relative;
	top: 30px;
	line-height: 1.9;
}

.signUp form {
    position: relative;
    top: 125px;
}

#addEmail {
	border-radius: 100px;
    padding-right: 34%;
    padding-left: 10%;
    width: 89%;
    height: 67px;
    font-size: 1.4em;
    color: lightgrey;
}

#addEmailSubmit {
	position: relative;
    border-radius: 100px;
    left: 28%;
    bottom: 60px;
    width: 31%;
    height: 53px;
    color: white;
    background-color: #e2574c;
    font-size: 4.5vw;
}

/* Start Of Footer */

footer {
	display: flex;
	align-items: center;
	flex-direction: column;
	justify-content: space-between;
	width: 100%;
	height: 300px;
	background-color: #242424;
	color: white;
}

.contact {
	display: flex;
	align-items: left;
	flex-direction: column;
	justify-content: space-between;
	width: 50%;
	height: auto;
}

.contact a {
	color: white;
}

.contact li {
	margin: 30px;
	font-family: "playfair";
	text-align: center;
}

.fAddress {
	color: lightgray;
}

.socialMedia ul {
	display: flex;
	align-items: center;
	justify-content: space-between;
	flex-direction: row;
    height: auto;
	position: relative;
	bottom: 75%;
}

.socialMedia li {
	margin: 15px;
}

.sMediaName {
	display: none;
}

.socialMedia a {
	color: white;
}


@media screen and (min-width: 600px) {

	/* sweeping changes */

	html {
		font-size: 16px;
	}

	/* Top navbar */

	.alohaLogo {
		width: 19%;
		margin: 3% 0% 0% 2%;
	}
	
	#navline {
		display: none;
	}
	
	.headerNavs {
		position: absolute;
		margin: 0% 0% 0% 2%;
	} 
	
	.headerNavs li {
		font-size: 2.4vw;
	}
	
	.shoppingCart {
		margin: 2% 2% 1% 68%;
		width: 9%;
	}

	/* header */

	header {
		height: 65vw;
		max-height: 520px;
		background-repeat: repeat-x;
	}
	
	header h1 {
		top: 38%;
		font-size: 7vw;
	}
	
	.bannerGirl {
		width: 25vw;
		max-height: 94%;
	}

	/* intro paragraph */

	.intro h2 {
		font-size: 6vw;
	}
	
	.intro p {
		font-size: 3vw;
		width: 96%;
	}
	
	/* shopping links section */
	
	
	.shopLinks1 span, .shopLinks2 span {
		font-size: 4vw;
	}

	.shopLinks1 div, .shopLinks2 div{
		height: unset;
	}
	
	.trends, .glasses, .sale, .bags {
		min-width: 0;
		max-width: none;
	}

	.shopLinks1 {
		align-items: stretch;
		flex-wrap: nowrap;
		margin-bottom: 10px;
	}
	
	.mens {
	min-width: 0;
	margin: 0px 10px 0px 0px;
	flex-basis: 10px;
	}
	
	.trends {
		margin-right: 10px;
	}	
	
	.shopLinks2 {
		align-items: flex-start;
		flex-wrap: nowrap;
	}
	
	.sale {
		margin-right: 10px;

	}

	.bags {
		margin-right: 10px;
	}
	
	.womens {
		min-width: 0;
		margin: 0px 0px 0px 0px;
		flex-basis: 10px;
	}
		
		/* Product Highlights */
		/* Sign-up */

		.signUp {
			height: 300px;
			background-position-y: 95%;
			background-size: auto;
		}
		
		.signUpContainer {
			width: 553px;
			top: 45px;
			overflow: unset;
		}
		
		.signUp p {
			font-size: 1.1rem;
			top: 18px;
		}
		
		.signUp form {
			top: 86px;
			width: 365px;
			margin: 0 auto;
		}
		
		#addEmail {
			padding-right: 41%;
			width: 365px;
			height: 47px;
		}
		
		#addEmailSubmit {
			left: 29%;
			bottom: 43px;
			width: 40%;
			height: 40px;
			font-size: 19px;
		}

		/* footer */
		
	footer {
		flex-direction: row;
	}

	.contact li {
		text-align: left;
	}

	.socialMedia ul {
		align-items: unset;
		flex-direction: column;
		bottom: 0px;
		right: 8vw;
	}

	.socialMedia li {
		margin: 9px;
	}

	.sMediaName {
		display: inline-block;
	}
}



@media all and (min-width: 1240px) {

	* {
		box-sizing: border-box;
	}
	
	html {
		
		font-size: 16px;
	}
	
	body {
		max-width: 1240px;
		width: 77.5rem;
		margin: 0 auto;
		float: none;
		color: #2d2d2d;
		font-family: "raleway";
	}
	
	h1, h2 {
		font-family: "playfair";
	}
	
	a {
		text-decoration: none;
	}
	
	a:visited {
		text-decoration: none;
		color: #e2574c;
	}
	
	/* start of Top Nav bar */
	
	.topNav {
		display: flex;
	align-items: center;
	flex-direction: row;
	justify-content: space-evenly;
		width: 100%;
		height: auto;
		padding: 0;
		border: 0;
		margin: 0;
	}
	
	.alohaLogo {
	height: 10%;
	width: 10%; 
	margin: 5px 0px 0px 45px;
	
	}
	
	.logo {
		max-width: 100%;
		max-height: 100%;
	}
	
	.headerNavs {
		position: relative;
		bottom: 5px;
		left: 40px;
		width: 40%;
		margin: 0 auto;
	} 
	
	.headerNavs li {
		display: inline-block;
		margin: 20px 10px 0px 10px;
		color: #e2574c;
	}
	
	.shoppingCart {
		width: 4%;
		margin: 10px 39px 0px 0px;
	}
	
	.cartIcon {
		max-width: 100%;
		max-height: 100%;
	}
	
	/* start of main site content */
	
	main {
		display: flex;
		align-items: center;
		flex-direction: column;
		justify-content: space-evenly;
		margin: 0;
		border: 0;
		padding: 0;
		width: 100%;
		height: auto;
	}
	
	header {
	position: relative;
	width: 100%;
	height: 520px;
	background-image: url("../images/flower-bkgd.jpg");
	background-position-x: 45%;
	text-align: center;
	background-size: contain;
	overflow: hidden;
	margin-top: 10px;
	}
	
	.headerOverlay {
		position: absolute;
	width: 100%;
	height: 100%;
	background: black;
	top: 0;
	opacity: .1;
	z-index: 2;
	}
	
	header h1 {
		position: relative;
		top: 42%;
		font-size: 60px;
		z-index: 3;
		color: white;
		text-shadow: 1px 1px 4px black;
	
	
	
	
	}
	.headerSplit {
		display: block;
		font-size: .3em;
		margin-bottom: 2%;
	}
	
	
	.bannerGirl {
		position: relative;
		margin: 0;
		width: auto;
		height: 34.4rem;
		top: -25px;
	
	}
	.girl  {
		max-width: 100%;
		max-height: 100%;
	}
	
	.intro {
		font-size: 30px;
		width: 50%;
		height: auto;
		text-align: center;
		margin: 50px 0px; 
	}
	
	.intro h2 {
		margin-bottom: 20px;
	}
	
	.intro i {
		font-style: italic;
	}
	
	.intro b {
		font-weight: bold;
	}
	
	.intro p {
		font-size: .4em;
		font-weight: 300;
		width: 87%;
		left: 46px;
		position: relative;
	}
	
	.intro article {
		font-size: 1.2em;
		line-height: 1.8;
		font-family: "raleway";
	}
	
	.shopLinks {
		width: 100%;
		height: 520px;
	
	}
	
	.shopLinks1 {
		display: flex;
		align-items: flex-start;
		flex-direction: row;
		justify-content: space-between;
		width: 100%;
		height: 50%;
		margin: 0px 0px 5px 0px;
	}
	
	.shopLinks1 span, .shopLinks2 span{
		position: relative;
		bottom: 58%;
		color: white;
		font-size: 37px;
		text-shadow: 1px 1px 4px black;
	}
	
	.mens {
	height: 100%;
	flex: 2 1 7px;
	margin-right: 7px;
	text-align: center;
	}
	
	.mensL {
	width: 100%;
	height: 100%;
	}
	
	.trends {
		height: 100%;
		flex: 1 1 0px;
		margin-right: 7px;
		text-align: center;	
	}	
	
	.trendsL {
		width: 100%;
		height: 100%;
	}
	
	.glasses  {
		height: 100%;
		flex: 1 1 0px;
		text-align: center;
	}
	
	.glassesL {
		width: 100%;
		height: 100%;
	}
	
	.shopLinks2 {
		display: flex;
		align-items: flex-start;
		flex-direction: row;
		justify-content: space-between;
		align-items: stretch;
		width: 100%;
		height: 50%;
		margin: 0px 0px 5px 0px;
	}
	
	.sale {
		height: 100%;
		flex: 1 1 0px;
		text-align: center;
	
	}
	
	.saleL {
		width: 100%;
		height: 100%;
	}
	
	
	
	.bags {
		height: 100%;
		flex: 1 1 0px;
		margin-left: 7px;
		text-align: center;
	}
	
	.bagsL {
		width: 100%;
		height: 100%;
	}
	
	.womens {
		height: 100%;
		flex: 2 1 7px;
		margin-left: 7px;
		text-align: center;
	}
	
	.womensL {
		width: 100%;
		height: 100%;
	}
	
	.productHighlight {
		width: 100%;
		height: 400px;
		background-color: turquoise;
		text-align: center;
		font-size: 50px;
	}
	
	.signUp {
		width: 100%;
		height: 300px;
		background-image: url("../images/wave-bkgd.jpg");
		background-size: cover;
		background-position-y: 100%;
		background-repeat: no-repeat;
		text-align: center;
		margin-bottom: 7px;
	}
	
	.signUpContainer {
		display: inline-block;
		position: relative;
		font-size: 36px;
		width: 50%;
		height: auto;
		text-align: center;
		top: 57px;
		color: white;
		text-shadow: 1px 1px 4px black;
	}
	
	.signUp i {
		font-style: italic;
	}
	
	.signUp b {
		font-weight: bold;
	}
	
	.signUp p {
		font-size: 17px;
		position: relative;
		top: 30px;
		line-height: 1.9;
		width: 101%;
	}
	
	.signUp form {
		position: relative;
		top: 103px;
		left: 74px;
	}
	#addEmail {
		border-radius: 25px;
		padding-right: 125px;
		padding-left: 30px;
		width: 33%;
		height: 50px;
		font-size: 1.2em;
		color: lightgrey;
	}
	
	#addEmailSubmit {
		position: relative;
		border-radius: 20px;
		right: 147px;
		width: 11%;
		height: 42px;
		color: white;
		background-color: #e2574c;
		font-size: 1.1em;
	}
	
	footer {
		display: flex;
		align-items: center;
		flex-direction: row;
		justify-content: space-between;
		width: 100%;
		height: 300px;
		background-color: #242424;
		color: white;
	}
	
	.contact {
		display: flex;
		align-items: left;
		flex-direction: column;
		justify-content: space-between;
		width: 50%;
		height: auto;
	}
	
	.contact a {
		color: white;
	}
	
	.contact li {
		margin: 30px;
		font-family: "playfair";
	}
	
	.fAddress {
		color: lightgray;
	}
	
	.socialMedia {
		display: flex;
		align-items: center;
		justify-content: space-between;
		flex-direction: column;
		width: 11%;
		height: auto;
		position: relative;
		right: 55px;
	}
	
	.socialMedia li {
		margin: 15px;
	}
	.socialMedia a {
		color: white;
	}
	

}
